<div class="modal-content p-0">
    <div class="modal-header border-0">
        <h6 class="modal-title font-weight-normal text-uppercase text-danger">{{ title }}</h6>
        <!-- <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" (click)="onClose()" aria-label="Close"></button> -->
    </div>
    <div class="modal-body mx-auto">
        <h5 class="modal-title font-weight-normal">{{ message }}</h5>
    </div>
    <div class="modal-footer mx-auto mb-2 border-0">
        <div class="border-modify btn-outline-primary">
            <button class="btn btn-secondary btn-sm text-uppercase" type="button" (click)="onClose()">Close</button>
        </div>
    </div>
</div>