<nav class="navbar sticky-top bg-pto">
    <div class="container-fluid space-between">
        <a class="navbar-brand d-flex justify-content-center align-items-center" routerLink="/home" [routerLinkActive]="['router-link-active']">
            <img class="mx-1" src="assets/brandning/logo.png" alt="Logo" width="40" height="40">
            <span class="navbar-brand fs-2" href="#">My Bank</span>
        </a>
        <div class="">
            <a class="navbar-brand fs-6" routerLink="/sign-up" [routerLinkActive]="['router-link-active']">Sign up</a>
            <a class="navbar-brand vr"></a>
            <a class="navbar-brand fs-6" routerLink="/login" [routerLinkActive]="['router-link-active']">Login</a>
        </div>
    </div>
</nav>