<div class="modal-content p-0 space">
    <div class="modal-header border-0">
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" (click)="onClose()" aria-label="Close"></button>
    </div>
    <div class="modal-body mx-auto">
        <h5 class="card-title">Copia e cola</h5>
        <p class="card-title">{{ copiaecola }}</p>
        <img alt="qrcodeImagem" src="{{ qrcodeImagem }}" />
    </div>
    <div class="modal-footer mx-auto mb-2 border-0">
        <div class="border-modify btn-outline-primary">
            <button class="btn btn-primary btn-sm text-uppercase" type="button" (click)="onClose()">Fechar</button>
        </div>
    </div>
</div>