<ngb-toast *ngFor="let toast of toastService.toasts" [header]="toast.headertext" [class]="toast.classname" [autohide]="toast.autohide" [delay]="toast.delay || 5000" (hidden)="toastService.remove(toast)">
    <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
        <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    </ng-template>
    <ng-template #text>
        <div class="d-flex align-items-center">
            <p class="fw-normal mr-2">{{ toast.textOrTpl }}</p>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
    </ng-template>
</ngb-toast>